body {
    background-color: black; 
    color: white; 
    font-family: Arial, sans-serif;
    }

h1 {
    color: grey; 
    font-family: Verdana, sans-serif;
    text-align: center;
    }

.maindiv {
    background-color: white;
    color: black;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto; 
    line-height: 1.5em;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    max-width: 250px;
    padding-left: 3em;
}

#result {
    padding-left: 3em;
} 

#button {
    padding-left: 3em;
}
